body{
    font-family: cursive;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: rgb(2, 2, 151);
    color: beige;
    padding: 20px;
}
nav a{
    margin: 0 10px;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    
}
nav a:hover{
    background-color: rgb(229, 249, 2);
    color: rgb(2, 2, 151);
    padding: 10px;
}
main{
    padding: 20px;
    font-size: 25px;
}
footer{
    background-color: rgb(2, 2, 151);
    color: yellow;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
